@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'kumbh Sans';
}

/*  #28839F
    #D5E9F1
    #845EC2 */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 26px 26px 10px 100px;
    z-index: 10;
    border-bottom: 1px solid rgb(88, 88, 88);
    transition: 1s ease-in-out;
    width: 100%;
}

.navbar.visible {
    background-color: #0693e3;
    /* transition: 0.5s ease-in-out; */
    position: fixed;
    top: 0;
    border-bottom: none;
}

.navbar .contact {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.navbar .contact:hover {
    color: rgb(192, 186, 186);
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.navbar ul li {
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

li a {
    position: relative;
    z-index: 100;
}

li a::before,
li a::after {
    position: absolute;
    content: "";
    width: 0;
    transition: .5s;
}

a::before {
    bottom: 0;
    left: 50%;
    border-top: 2px solid white;
}

li a::after {
    right: 50%;
    bottom: 0;
    border-bottom: 2px solid white;
}

li a:hover::before,
li a:hover::after {
    width: 50%;
}

.navbar .img {
    width: 200px;
}

.img1 {
    position: absolute;
    opacity: 0.2;
    z-index: 1;
    height: fit-content;
    bottom: 1px;
    left: 200px;
    width: 1100px;
    height: 900px;
}

.firstContainer {
    position: relative;
    background: linear-gradient(135deg, #1D212b, #1D212b, #2b313e);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundFace {
    width: 630px;
    position: absolute;
    right: 20px;
    bottom: 0;
    opacity: 0.5;
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.5)
}

.header {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 60%;
    margin-left: 100px;
    margin-top: 60px;
}

.header h1 {
    color: white;
    font-size: 50px;
    z-index: 5;
    border-right: 5px solid;
    width: 87%;
    padding-right: 7px;
    animation: typing 2s, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

.header h1 span {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.header h1 span.hidden {
    visibility: hidden;
    opacity: 0;
}

.header p {
    font-size: 30px;
    color: white;
    z-index: 5;
    letter-spacing: 1px;
    width: 80%;
}

.header button {
    width: 30%;
    padding: 23px 0px;
    z-index: 5;
    font-size: 19px;
    background-color: #0d8c39;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.33s all;
}

.header button:hover {
    background-color: #114b25;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.secondContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 130px;
    margin-top: 80px;

}

.secondContainer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    gap: 30px;
}

.secondContainer .container .secondPart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secondContainer .container .secondPart span {
    font-size: 18px;
    color: #0C6DB6;
    font-weight: bold;
}

.secondContainer .container .secondPart h1 {
    font-size: 40px;
    width: 100%;
    line-height: 50px;
    margin-bottom: 10px;
}

.secondContainer .container .secondPart p {
    font-size: 19px;
    line-height: 40px;
    letter-spacing: 1px;
    width: 85%;
    margin-bottom: 10px;
    color: #212529;
}

.secondContainer .container img {
    width: 54%;
}

.container2 .secondPart {
    padding-right: 0px;
    margin-right: -60px;
}

.container2 {
    gap: 0px;
    padding-left: 50px;
}

.container2 .secondPart p {
    width: 100%
}

.container2 .secondPart h1 {
    width: 100%;
}

.women {
    width: 130px;
    margin-right: 50px;
}


.consultation {
    padding-left: 5%;
}

.consultation .secondPart {
    width: 50%;
}

.consultation .secondPart button {
    width: 36%;
    padding: 18px 5px;
    font-size: 17px;
    background-color: #0d8c39;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.33s all;
    font-weight: bold;
}

.consultation .secondPart button:hover {
    background-color: #114b25;
}

button {
    width: 36%;
    padding: 18px 5px;
    font-size: 17px;
    background-color: #0d8c39;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.33s all;
    font-weight: bold;
}

button:hover {
    background-color: #114b25;
}

.consultation img {
    width: 50%;
}


.thirdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin-top: 100px;
}

h2 {
    font-size: 10px;
}

.thirdContainer .container {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    padding: 0 100px;
    margin: 0 auto;
    overflow: hidden;
}

.thirdContainer .container .block {
    display: none;
    display: grid;
    grid-template-rows: 7fr 5fr;
    gap: 40px;
}

.thirdContainer .container .block img {
    width: 94%;
}

.thirdContainer .container .block div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.thirdContainer .container .block div h2 {
    width: 80%;
    font-size: 34px;
}

.thirdContainer .container .block div a {
    color: #0C6DB6;
    font-weight: bold;
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: larger;
}

.face12 {
    height: 280px;
}

.block.active {
    display: block;
}

/* reveal */
.reveal {
    opacity: 0.2;
    transition: all 1.5s ease-out;
    transform: translateY(200px);
}

.reveal.actif {
    opacity: 1;
    transform: translateY(0);
}

/* footer */
.footer {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 3fr;
    padding: 80px 0px 90px 100px;
    background-color: #082f49;
    margin-top: 100px;
    width: 100%;
}

.footer div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.footer div h4 {
    font-size: 20px;
}

.footer div p {
    font-size: 15px;
}

.footer> :nth-child(1) div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: -20px;
    margin-left: -20px;
}

.footer> :nth-child(1) div input,
button {
    padding: 16px 20px;
    border-radius: 4px;
    border: none;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

.footer> :nth-child(1) div input:focus {
    outline: none;
}

.footer> :nth-child(2) {
    padding-left: 100px;
    width: 200px;
}

.footer> :nth-child(3) {
    margin-left: -100px;
}

.footer> :nth-child(2) div {
    padding-left: 0;
}

.footer> :nth-child(3) div {
    padding-left: 0;
    margin-left: 0;
}

.footer> :nth-child(4) div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -15px;
}

.footer> :nth-child(4) div span {
    display: flex;
    flex-direction: row;
    gap: 15px;
    line-height: 30px;
}

/* Copyright */
/* Login */
.outside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.5)
}